input[type=text] {
    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=password] {
    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus {
    
    border-color: #571159;
  }
  input[type=password]:focus {
   
    border-color: #571159;
  }